@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply overflow-x-hidden font-body 2xl:text-16 text-text-dark-blue;
}

.footer-list a {
  @apply transition-all duration-100;
}
.footer-list a:hover {
  @apply text-primary-green;
}
.border-btn {
  @apply border border-primary-green rounded-[4px] px-4 py-2 lg:px-6 lg:py-3 text-primary-green font-bold text-16 transition-all duration-200 hidden sm:flex items-center justify-center 2xl:text-16;
}
.border-btn:hover {
  @apply text-white bg-primary-green;
}
.border-white-btn {
  @apply border border-white rounded-[4px] px-4 py-2 lg:px-6 lg:py-3 text-white font-bold text-16 transition-all duration-200 2xl:text-16;
}
.border-white-btn:hover {
  @apply bg-white text-primary-green;
}
.btn-primary {
  @apply bg-primary-green text-white text-16 transition-all duration-200 px-4 py-2 lg:px-6 lg:py-3 rounded-[4px] border border-transparent font-bold flex items-center justify-center w-fit 2xl:text-16;
}
.btn-primary:hover {
  @apply bg-transparent border-primary-green text-primary-green;
}

header .line-vertical {
  @apply border-l border-[#E9EAEC] h-8;
}
.header-list {
  @apply hidden lg:flex items-center gap-x-[32px];
}
.header-list li {
  @apply flex items-center gap-1 font-bold transition-all duration-200 text-16 2xl:text-16;
}
.header-list li.active {
  @apply text-primary-green;
}
.header-list li > i {
  @apply -mb-[3px];
}
.header-list li:hover > i {
  @apply rotate-0;
}
.header-list li:hover {
  @apply text-primary-green;
}
.main-title {
  @apply font-bold text-24 lg:text-28 xl1:text-32;
}
.percent {
  @apply flex justify-center relative my-[14px];
  position: relative;
}

.percent svg {
  @apply relative w-[94px] h-[94px] -rotate-90;
}

.percent svg circle {
  @apply w-full h-full fill-none stroke-[#f0f0f0] stroke-[4];
  stroke-linecap: round;
}

.percent svg circle:last-of-type {
  stroke-dasharray: 270.49px;
  stroke-dashoffset: calc(270.49px - (270.49px * var(--percent)) / 100);
}

.percent .number {
  @apply absolute font-semibold -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2 text-text-gray text-26;
}

.percent:nth-child(1) svg circle:last-of-type {
  @apply stroke-[#f4f5f5];
}

.percent:nth-child(2) svg circle:last-of-type {
  @apply stroke-primary-green;
}
.banner-cards {
  @apply flex items-center gap-[24px] overflow-hidden h-full;
}

.banner-cards .banner-card {
  @apply flex items-center flex-shrink-0 gap-x-3 border-l border-[#f4f5f5] xl:pl-[24px] pl-[16px] py-[10px] lg:py-0 h-full;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 20s;
  animation-duration: 20s;
}
.banner-cards:hover .banner-card {
  animation-play-state: paused;
}
.banner-cards .banner-card p {
  @apply transition-all duration-200;
}
.banner-cards .banner-card:hover p {
  @apply text-primary-green;
}
.partner-block {
  @apply rounded-xl bg-white flex items-center justify-center p-[14px] lg:p-[18px] flex-[calc(50%-8px)] max-w-[calc(50%-8px)] lg:flex-[calc(25%-16px)] lg:max-w-[calc(25%-16px)] xl2:flex-[calc(16.66667%-16px)] xl2:max-w-[calc(16.66667%-16px)] flex-shrink-0 flex-grow-0 h-[120px] hover:scale-110 transition-transform duration-300;
}
.partner-block img {
  @apply object-cover;
}
.partners-navigation {
  @apply duration-100 transition-all;
}
.partners-navigation.swiper-button-disabled {
  @apply opacity-0;
}
.partners-wrapper .partners-pagination {
  @apply left-1/2 w-fit -translate-x-1/2 absolute -bottom-10;
}
.partners-wrapper .partners-pagination .swiper-pagination-bullet {
  @apply opacity-100 bg-[#A7ADB2] duration-200 transition-all;
}
.partners-wrapper
  .partners-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-primary-green w-6 rounded-[40px];
}
.feature-btn svg {
  @apply transition-all duration-200;
}
.feature-btn svg path {
  @apply transition-all duration-200;
}
.feature-btn:hover svg {
  @apply fill-text-dark;
}
.feature-btn:hover svg path:last-child {
  @apply stroke-white;
}
.detail-feature {
  @apply transition-all duration-200;
}
.detail-feature:hover {
  @apply text-white bg-primary-green;
}
.detail-feature:hover svg path {
  @apply transition-all duration-200;
}
.detail-feature:hover svg path {
  @apply stroke-white;
}
.news-img {
  @apply w-full rounded-[4px] overflow-hidden h-[120px] md:h-[180px] lg:h-auto;
}
.news-img.main {
  @apply h-auto;
}
.news-img img {
  @apply object-center w-full h-full transition-all duration-1000;
}
.news-img:hover img {
  @apply scale-110;
}
.footer-list {
  @apply flex flex-col gap-1 lg:gap-2;
}
.footer-list li a {
  @apply text-text-gray-light text-16 2xl:text-16;
}
.toggle-bar {
  @apply w-[28px] h-[30px] cursor-pointer lg:hidden;
}

.toggle-bar div {
  @apply w-full h-[5px] bg-primary-green mt-1 mx-auto duration-300 transition-all;
  backface-visibility: hidden;
}

.toggle-bar.on .one {
  transform: rotate(45deg) translate(5px, 5px);
}

.toggle-bar.on .two {
  @apply opacity-0;
}

.toggle-bar.on .three {
  transform: rotate(-45deg) translate(7px, -8px);
}
.menu {
  @apply bg-white lg:hidden fixed top-[60px] left-0 right-0 bottom-0 z-[99999] -translate-x-[200%] duration-200 transition-all;
}
.menu.on {
  @apply translate-x-0;
}
.mobile-menu-list {
  @apply flex flex-col gap-4 py-[20px] sm:py-[30px];
}
.mobile-menu-list li a {
  @apply font-semibold;
}

.mobile-menu-list li:hover a {
  @apply text-primary-green;
}
.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: linear;
}
/* custom swiper */
.solutions-swipe .swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  @apply left-[35px];
}
.solutions-swipe .swiper-pagination .swiper-pagination-bullet {
  @apply bg-[#D8E9D9] w-[6px] h-[6px] rounded-full duration-200 transition-all opacity-100;
}
.solutions-swipe
  .swiper-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply h-6 bg-primary-green;
}

/* custom swiper */
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.expertise-block {
  @apply rounded-xl p-4 overflow-hidden lg:p-[24px] 2xl:py-[38px] flex flex-col justify-between relative bg-cover before:content-[''] before:absolute before:left-0 before:top-0 before:w-full before:h-full before:bg-black before:backdrop-blur-[15px] before:bg-opacity-40 before:duration-300 before:opacity-0 before:transition-opacity hover:before:opacity-100;
}

.expertise-block > .expertise-img {
  @apply aspect-square w-[28px] xl2:w-[34px];
}
.expertise .expertise-block:nth-child(1) > .expertise-img {
  animation: float 6s ease-in-out infinite;
}
.expertise .expertise-block:nth-child(2) > .expertise-img {
  animation: float 7s ease-in-out infinite;
}
.expertise .expertise-block:nth-child(3) > .expertise-img {
  animation: float 8s ease-in-out infinite;
}
.expertise .expertise-block:nth-child(4) > .expertise-img {
  animation: float 5s ease-in-out infinite;
}
.expertise .expertise-block:nth-child(5) > .expertise-img {
  animation: float 5s ease-in-out infinite;
}
.expertise .expertise-block:nth-child(6) > .expertise-img {
  animation: float 6s ease-in-out infinite;
}
.expertise .expertise-block:nth-child(7) > .expertise-img {
  animation: float 4s ease-in-out infinite;
}
.expertise .expertise-block:nth-child(8) > .expertise-img {
  animation: float 6s ease-in-out infinite;
}
.expertise-block .expertise-desc {
  @apply mt-3 text-[10px] lg:text-12 3xl:text-16 text-text-gray-light;
}
.expertise-block .arrow-icon {
  @apply absolute right-4 lg:right-[24px] duration-500 transition-all rounded-full;
}
.expertise-block:hover .arrow-icon {
  @apply absolute right-0 z-10 scale-125;
}
.expertise-block:hover .arrow-icon path {
  @apply fill-bg-gray-light;
}
.main-desc {
  @apply mt-3 text-center text-16 text-text-gray;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0px);
  }
}
.footer-social:hover {
  @apply transition-all duration-100;
}
.footer-social:hover {
  filter: brightness(0) invert(1);
}

.btn-solutions {
  @apply capitalize py-3 flex items-center justify-center cursor-pointer text-16 font-semibold transition duration-100 rounded text-[#A7ADB2] hover:bg-primary-green hover:bg-opacity-80 hover:text-white;
}

.btn-solutions.active {
  @apply bg-primary-green text-white;
}
.header-mega-wrapper,
.about-mega-header {
  @apply relative before:content-[''] before:w-full before:h-[50px] before:bg-transparent before:absolute before:left-0 before:top-full hover:before:block before:hidden;
}
.about-mega {
  @apply bg-white z-10 p-8 absolute left-0 top-[calc(100%+32px)] rounded-xl flex flex-col w-full gap-3 min-w-[254px] translate-y-[-200%] opacity-0 shadow-[rgba(0,0,0,0.1)_0px_4px_12px];
}
.about-mega-header:hover .about-mega {
  @apply opacity-100 z-10 translate-y-0;
  transition: opacity 0.3s 0s, transform 0s 0s;
}
.header-mega {
  @apply absolute shadow-[0px_4px_6px_-2px_rgba(17,24,39,0.06),_0px_10px_15px_-3px_rgba(17,24,39,0.1)] 
 rounded-2xl overflow-hidden bg-white top-[calc(100%+30px)] left-1/2 -translate-x-1/2 min-w-[970px] w-fit
 opacity-0 -translate-y-[200%];
}

.header-mega-wrapper:hover .header-mega {
  @apply opacity-100 z-10 translate-y-0;
  transition: opacity 0.3s 0s, transform 0s 0s;
}
.header-mega .mega-swipe-pagination {
  @apply absolute !bottom-6 !right-6 !left-auto !w-fit !z-30;
}
.header-mega .mega-swipe-pagination .swiper-pagination-bullet {
  @apply opacity-100 bg-neutral-dark-400;
}
.header-mega
  .mega-swipe-pagination
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply opacity-100 bg-primary-green;
}

.solutions-tab {
  @apply bg-[#E9EAEC] rounded text-text-dark-blue w-full text-left px-4 py-3 font-semibold hover:bg-primary-green hover:bg-opacity-80 hover:text-white duration-100 transition-all;
}
.solutions-tab.active {
  @apply bg-primary-green text-white;
}

.solutions-list-item:not(:first-child) {
  @apply py-6;
}
.solutions-list-item:first-child {
  @apply pb-6;
}
.solutions-list-item:not(:last-child) {
  @apply border-b-[#E9EAEC] border-b;
}

.solutions-list-item {
  @apply grid gap-x-8 items-center scroll-mt-[50px];
}

.solutions-list-item img {
  @apply rounded-lg object-cover;
}
.solutions-list-item:first-child {
  @apply items-start;
}
.solutions-content {
  @apply text-18 text-justify leading-[150%];
}

/* who-block */
.who-block {
  @apply block w-full aspect-square rounded-xl p-4 bg-bg-gray-light relative overflow-hidden;
}

.who-overlay {
  @apply absolute -z-10 opacity-0 left-0 top-0 w-full h-full bg-neutral-dark-500 flex justify-center items-end duration-300 transition-all;
}
.who-block:hover .who-overlay {
  @apply z-10 opacity-100;
}
.who-more svg {
  @apply duration-200 transition-all;
}
.who-more:hover svg {
  @apply translate-x-6;
}

/* who-block */
/* people-block */
.people-block {
  @apply rounded overflow-hidden;
}

/* people-block */
/* global presence */
.global-tab {
  @apply py-2 px-4 rounded-md bg-bg-gray-light w-full duration-200 transition-all text-neutral-dark-500;
}
.global-tab:hover {
  @apply bg-opacity-80 bg-primary-green text-[#F3F6F4];
}
.global-tab:hover svg circle {
  @apply fill-[#F3F6F4];
}
.global-tab.active {
  @apply bg-primary-green font-semibold text-[#F3F6F4];
}
.global-tab.active svg circle {
  @apply fill-[#F3F6F4];
}
/* global presence */
/* board of management */
.board-btn {
  @apply text-[#9DA9AF] py-2 px-8 duration-100 transition-all;
}
.board-btn:hover {
  @apply text-primary-green;
}
.board-btn.active {
  @apply border-b-[1.5px] border-b-primary-green font-semibold text-primary-green;
}
.board-wrapper .board-pagination {
  @apply w-fit block rounded-[60px];
}
.board-wrapper .board-pagination .swiper-pagination-bullet {
  @apply bg-neutral-200 opacity-100;
}
.board-wrapper .board-pagination .swiper-pagination-bullet-active {
  @apply bg-primary-green;
}
.board-wrapper .board-next.swiper-button-disabled,
.board-prev.swiper-button-disabled {
  @apply opacity-50;
}
/* board of management */
/* news */
.news-checkbox[type="checkbox"] {
  @apply relative border-2 border-neutral-500 rounded bg-none cursor-pointer leading-none outline-none align-text-top w-5 h-5 opacity-50 duration-100 transition-all
  before:content-[''] before:absolute before:right-1/2 before:top-1/2 before:w-1 before:h-2.5 before:border-r-2 before:border-b-2 before:-m-[1px] before:ml-0 before:rotate-45 before:translate-x-1/2 before:-translate-y-1/2 before:z-10 before:opacity-0;
  -webkit-appearance: none;
}
.news-checkbox[type="checkbox"]:hover {
  @apply opacity-100;
}
.news-checkbox[type="checkbox"]:checked {
  @apply bg-primary-green border-primary-green opacity-100 before:opacity-100;
}
.news-post-item {
  @apply duration-150 transition-all hover:shadow-[rgba(0,0,0,0.1)_0px_4px_12px];
}
/* news */

/* faq */

.faq-detail {
  @apply text-[18px] text-text-dark leading-[150%] duration-300 transition-all overflow-hidden max-h-0 text-justify;
}
.faq.active .faq-detail {
  @apply max-h-[1000px] mt-3;
}
.faq svg {
  @apply duration-200 transition-all;
}
.faq.active svg {
  @apply rotate-180;
}
.faq.active svg path {
  @apply stroke-primary-green;
}
.news-item-detail {
  @apply duration-300 transition-all overflow-hidden max-h-0 flex flex-col gap-3;
}
.news-item-detail a {
  @apply hover:underline transition-all duration-200 text-text-dark text-20;
}
.news-item img {
  @apply duration-200 transition-all;
}
.news-item.active img {
  @apply rotate-180;
}
.news-item.active .news-item-detail {
  @apply max-h-[1000px] mt-3;
}
/* faq */
.text-active-hover div {
  @apply duration-200 transition-all;
}

.text-active-hover.active div {
  @apply bg-primary-green;
}
.text-active-hover.active span {
  @apply border-primary-green;
}
.download-brochure span {
  @apply block max-w-0 overflow-hidden duration-300 whitespace-nowrap transition-all hover:underline;
}
.download-brochure:hover span {
  @apply max-w-[1000px];
}
/* why page */
.why-table-wrapper {
  @apply overflow-x-auto border border-neutral-dark-200 rounded-lg overflow-y-hidden shadow-[0px_0px_3px_rgba(17,24,39,0.06),0px_1px_3px_rgba(17,24,39,0.1)] scrollbar-thin scrollbar-thumb-neutral-200 scrollbar-corner-rounded-2xl scrollbar-track-neutral-dark-50;
}
.why-table-wrapper::-webkit-scrollbar-thumb {
  @apply rounded-full;
}

.why-table {
  @apply rounded-lg w-full max-w-full;
}
.why-table thead tr:first-child th,
.why-table tbody td {
  @apply first:sticky first:left-0;
}

.why-table th,
td {
  @apply align-middle border-b border-b-neutral-200;
}
.why-table tr:last-child td {
  @apply border-b-0;
}
.why-table th {
  @apply p-4 text-neutral-dark-500 text-14 capitalize min-w-[148px] bg-neutral-dark-50 font-bold text-center;
}
.why-table tr:first-child th {
  @apply first:text-primary-green first:text-16  first:text-start first:min-w-[257px] first:border-r first:border-r-neutral-dark-200;
}
.why-table tr:nth-child(1) th:nth-child(3) {
  @apply px-3 py-1;
}
.why-table tr:nth-child(2) th {
  @apply px-3 py-1;
}
.why-table tr:first-child th:not(:last-child) {
  @apply border-r border-r-neutral-dark-200;
}
.why-table tr:nth-child(2) th {
  @apply border-r border-r-neutral-dark-200;
}
.why-table-body td {
  @apply py-4 text-16 px-6 bg-bg-gray-light font-medium text-neutral-dark-500 first:font-semibold first:text-start first:border-r first:border-r-neutral-dark-200 first:border-l-0 whitespace-nowrap;
}
.why-table-body td:not(:last-child) {
  @apply border-r first:border-r-neutral-dark-200;
}

.why-table-body td > div {
  @apply w-full h-full flex items-center justify-center;
}
.why-table-body td > a {
  @apply w-full h-full flex items-center justify-center;
}
.why-table-body td:first-child > div {
  @apply justify-start;
}
.why-table-body td:first-child > a {
  @apply justify-start;
}

/* why page */

.board-table th {
  @apply bg-white px-6 py-7 text-primary-green text-16 w-1/2 text-start;
}
.board-table td {
  @apply bg-[#F4F5F5] px-6 py-4 font-medium;
}
.board-table tr td:first-child {
  @apply font-semibold;
}
